*{
    font-size: 14px;
}

header{
    width: 100%;
    height: 100px;
    background-color: var(--col-common);
    /**/
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-itm{
    width: 250px;
    height: 50px;
}

h1.header-itm{
    width: fit-content;
    height: fit-content;
}

h1.header-itm a{
    font-size: 18pt;
    color: var(--border-d);
    text-decoration: none;
}

#meme-refresh{
    color: var(--text-common);
    text-decoration: none;
    
}