*{
    font-size: 12px;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

body, main{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.box{
    background-color: var(--bg-common);
    filter: drop-shadow(-3px 4px 6px var(--shad-45));
    border: 3px solid var(--border-d);
    border-radius: 15px;
    width: 20%;
    /**/
    display: flex;
    align-items: center;
    justify-content: center;
    /**/
    transition: 0.3s;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /*a crutch to avoid the pre-set "auto" value and make "transition" work*/
}
/*ratios*/
.b1-1{aspect-ratio: 1 / 1;}
.b1-2{aspect-ratio: 1 / 2;}
.b2-1{aspect-ratio: 2 / 1;}

.b1-1:hover{
    filter: drop-shadow(-8px 9px 15px var(--shad-35));
    top: -7px;
    left: 6px;
}
.b1-2:hover{
    filter: drop-shadow(-6px 7px 13px var(--shad-35));
    top: -5px;
    left: 6px;
}
.b2-1:hover{
    filter: drop-shadow(-2px 8px 15px var(--shad-35));
    top: -12px;
    left: 2px;
}

img.inner{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.cont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

#popup-cont{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    /**/
    background-color: var(--shad-50);
    transition: 0 0.3s all;
    /**/
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-popup{
    width: 75px;
    aspect-ratio: 1 / 1;
    display: flex;
    position: absolute;
    align-self: flex-start;
    margin-top: 3%;
    margin-left: 82%;
}

#popup-img{
    height: 90%;
    max-width: 90%;
}

#popup-cont.hidden{
    display: none;
}

.hidden{
    display: none;
}